<!-- <h1>This Is {{ pageTitle() }}</h1>
<div>Hello From Angular.</div>

<div>====================================</div>

<input type="text" placeholder="Email" [value]="defaultEmail" />

<div>===================================</div>

<p
  [ngClass]="headerClasses()"
>
  Class Binding
</p>

<p
  style="font-size: 4rem;"
>Style Binding</p>

<p
  [style.fontSize]="singStyleBinding()"
>Single Style Binding</p>

<p
  [ngStyle]="multipleStyleBinding()"
> Multiple Style Binging</p>


<div>===================================</div>

<button (click)="toggleHeaderState()" >Toggle Header State</button>
<h3>IsHeder: {{isHeader}}</h3>

<div>===================================</div> -->

<!-- <div> -->
  <!-- <input type="text" id="input1" placeholder="Email"   #emailInput > -->

  <!-- <input type="text" [(ngModel)]="email"  placeholder="Email" >

  <button (click)="update()" >UpdateEmail</button>

</div>
{{email}} -->

<!-- <button *ngIf="!userLoggedIn" (click)="updateUserState()"  >Login</button>
<button *ngIf="userLoggedIn"  (click)="updateUserState()" >Logout</button> -->

<!-- <button *ngIf="!userLoggedIn else loggedIn" (click)="updateUserState()"  >Login</button>


<ng-template #loggedIn >
  <button  (click)="updateUserState()" >Logout</button>
</ng-template> -->
<!-- 


<div [ngSwitch]="userType"  >
  <p *ngSwitchCase=" 'admin' " > ADMIN USER </p>
  <p *ngSwitchCase="'publisher'" >   PUBLISHER USER </p>
  <p *ngSwitchCase="'client'" > CLIENT USER </p>
  <p *ngSwitchDefault >Unsupported User Type</p>
</div> -->
<!-- <button (click)="todos.push('todo 7')" >add</button>

<ul>
  <li 
    *ngFor="let todo of todos; index as i; first as f ; last as l; odd as o; even as e" 
  > 
    {{todo}} - {{i}} - isFirst: {{f}} - isLast: {{l}} - isOdd: {{o}} - isEven: {{e}}
  </li>
</ul> -->


<!-- <h1>String Pipe</h1>
<h2> {{ 'AHMED' | lowercase }} </h2>
<h2> {{ 'ahmed' | uppercase }} </h2>
<h2> {{ 'ahmed mohammed' | titlecase }} </h2>
<h2> {{ 
  "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book." | slice:0:60 }} </h2>
  <h2> {{user | json}} </h2> -->
  
<!-- <h1>Number Pipe</h1> -->
<!-- <h2> {{15.21 | number:'2.1-3'}} </h2>
<h2> {{15.21 | number:'3.3-6'}} </h2>
<h2> {{15.20874853 | number:'2.3-14'}} </h2>
<h2> {{1.2938274598750 | number:'2.1-3'}} </h2> -->

<!-- <h1>Percentage Pipe</h1>
  <h2> {{ 1.5 | percent }}</h2> -->
  
<!-- <h1> Currency Pipe</h1>
<h2> {{150 | currency:'EUR'}} </h2>
<h2> {{150 | currency:'EUR':'code'}} </h2> -->

<h1> Date Pipe</h1>
<h2>{{now | date}}</h2>